.main { width:946px; margin:0 auto;}
.body1{ background:url(images/bg_top.jpg) top repeat-x}
#header {width:100%; overflow:hidden; height:609px;}
#headercallout {position: static; float: right; top: 0; height: 70px; margin-bottom: -80px; padding-top: 8px; overflow:hidden;}
#menu { float:right; padding-top:80px;}
#content{  width:100%; overflow:hidden; padding-top:7px; border-bottom:1px solid #eee9dd; padding-bottom:50px;}
#footer {width:100%; overflow:hidden; }

.wrapper {width:100%; overflow:hidden;}

.left{ float:left;}
.right{ float:right}


.block {height:73px;}
.extra {min-height:100%; height:auto !important; height:100%; margin: 0 auto -73px;}
body, html {height:100%;}

.col1{ width:270px; float:left;}
.col2{ float:left; width:630px;}
.col3{ width:263px; float:left;}
.cols{ float:left; width:300px;}
/* ============================= page1 ===========================*/
#page1 .col2{ width:668px; margin-right:7px;}
#page1 .cols{ width:290px;}
#page1 #content{ padding-bottom:13px;}
/* ============================= page2 ===========================*/
/* ============================= page3 ===========================*/
/* ============================= page4 ===========================*/
/* ============================= page5 ===========================*/
/* ============================= page6 ===========================*/
#page6 .col1{ width:910px;}
